<%- include('../partials/enhanced-modal', { modalId: 'cardDetailsModal',
modalSize: 'xl', modalTitle: 'Card Details', modalIcon: 'fa-id-card', modalBody:
`
<div id="cardDetailsContent" class="space-y-8"></div>
`, modalFooter: `<button
  type="button"
  id="closeCardModalFooter"
  class="btn btn-secondary"
>
  <i class="fas fa-times mr-2"></i>Close</button
>` }) %>
