<aside class="sidebar">
  <h2>Control Panel</h2>
  <nav>
    <ul>
      <li><a href="/dashboard" class="<%= activePage === 'dashboard' ? 'active' : '' %>">Home</a></li>
      <li><a href="/dashboard/operator" class="<%= activePage === 'operator' ? 'active' : '' %>">Operators</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
</aside>
