
body.dashboard{
 background-color: var(--dashboard-white);
}

.dashboard-container {
  display: flex;
  min-height: 100vh;

}

.sidebar {
  width: 200px;
  background-color: var(--black);
  color: #fff;
  padding: 20px;
}

body.dashboard .dashboard-content{
    padding:1em;
    width:calc(100% - 200px);
}

.sidebar h2 {
  font-size: 1.4em;
  color: #fff;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  font-size:14px;
}

.sidebar ul li a.active {
  background-color: var(--blue);
}

.sidebar ul li a.active:hover{
    color:#fff;
}

.sidebar ul li a:hover{
    color:var(--blue)
}

/* header styles */

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  margin-bottom:2em;
}

.logout-button {
  text-decoration: none;
  background-color: var(--orange);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.logout-button:hover {
  background:var(--error-color);
}