
:root{
  --blue:#2271b1;
  --black : #1d2327;
  --dashboard-white: #f0f0f1;
  --body-white:#f8f9fa;
  --text-color:#333;
  --error-color: red;
  --orange: #d9534f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--body-white);
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: background 0.3s ease;
}

.not-found-msg{
  text-align: center;
  margin-top: 0.5em;
  font-size: 16px;
  color: var(--error-color);
  padding:1em;
  font-style: italic;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.error,.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
